*.sdf
*.suo
_UpgradeReport_Files
UpgradeLog.*
DerivedData
.xcuserstate
*.xcuserdatad
.DS_Store
xcshareddata
SDL-1.2.9
*.opensdf
DebugVC7
bin
*/ReleaseVC7
*vcxproj.user
DUKE3D.GRP

# Linux
*.o
*.a
*~
chocolate-duke3d
duke3d.cfg
duke3d.grp

# GNU automake
.deps
/aclocal.m4
/autom4te.cache
/build-aux
Makefile
Makefile.in
/config.h
/config.h.in
/config.log
/config.status
/configure
/stamp-h1
.vs/duke3d_vs2012/FileContentIndex/611f2f27-93fe-422a-8c64-9a2d6b9be588.vsidx
.vs/duke3d_vs2012/FileContentIndex/9431d16f-f738-4414-92a5-ac3b80967c0d.vsidx
.vs/duke3d_vs2012/FileContentIndex/f0905d6e-77f6-486b-b808-7ab05b7a478c.vsidx
.vs/duke3d_vs2012/v17/Browse.VC.db
.vs/duke3d_vs2012/v17/Browse.VC.db-shm
.vs/duke3d_vs2012/v17/Browse.VC.db-wal
.vs/duke3d_vs2012/v17/Browse.VC.opendb
.vs/duke3d_vs2012/v17/ipch/AutoPCH/2a226e5044fc1e12/COMPRESS.ipch
.vs/duke3d_vs2012/v17/ipch/AutoPCH/3892cdd26ae995ac/ACTORS.ipch
.vs/duke3d_vs2012/v17/ipch/AutoPCH/3a8cc7c6b02738b2/MMULTI.ipch
.vs/duke3d_vs2012/v17/ipch/AutoPCH/9025158f2d10fd65/TILES.ipch
.vs/duke3d_vs2012/v17/ipch/AutoPCH/afbf6af42b2051b6/PACKET.ipch
.vs/duke3d_vs2012/v17/ipch/AutoPCH/f92f6858a892b650/GAME.ipch
Game/DUKE.RTS
